@keyframes planetAn {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  @keyframes bottomIn {
    from {
      transform: translateY(500px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }